body {
    background-image: url(//raw.githubusercontent.com/marvindanig/fisheye-placebo-varsity/master/assets/images/1.jpg);
}

blockquote.speech {
    position: absolute;
    right: 6vw;
    top: 25vw;
}
