body {
    background-image: url(//raw.githubusercontent.com/marvindanig/fisheye-placebo-varsity/master/assets/images/37.jpg);
    background-size: 80% auto;
    background-position: center center;
}

blockquote.speech {
    position: absolute;
    right: 15vw;
    top: 55vw;
    font-size: 4vw;
}

