body {
    background-image: url(//raw.githubusercontent.com/marvindanig/fisheye-placebo-varsity/master/assets/images/25.jpg);
    background-size: 100% auto;
    background-position: center center;
}

#bubble {
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ffc;
    color:black;
    text-align: center;
    width: 90vw;
    height:8vw;
    border-left: 0.5vw solid #400;
    border-bottom: 0.5vw solid #400;
    border-bottom-left-radius: 20vw 15vw;
    -moz-border-radius-bottomleft: 20vw 15vw;
    -webkit-border-bottom-left-radius: 20vw 15vw;
}

#text {
    position: relative;
    font-size: 4vw;
    font-style: italic;
    height: 8vw;
}
