::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #1f4b18;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #36882b;
}
::-webkit-scrollbar-thumb:active {
  background: #3f9b31;
}
::-webkit-scrollbar-track {
  background: #000000;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #000000;
}
::-webkit-scrollbar-track:active {
  background: #000000;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

html, body{
    background: #000;
    color: #0a0;
    text-shadow: 0 0 3px #0f0;
    font: 2vw monospace;
    white-space: pre;
    tab-size: 4;
}

body{
  background-image: url(//raw.githubusercontent.com/marvindanig/fisheye-placebo-varsity/master/assets/images/23.png);
  background-size: 100% 50%;
  background-position: top center;
  background-repeat: no-repeat;
}

.terminalwrapper {
  position: absolute;
  bottom: 0;
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
  height: 50%;
  overflow-y: scroll;
}

.terminal {
}