body {
    font-family: Source Code Pro;
    background: #000;
    color: #00FF00;
    margin: 0;
    font-size: 2vw;
}

canvas {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bars-and-stuff {
    left: 66.6%;
}

.output-console {
    position: fixed;
    overflow: hidden;
    z-index: 0;
}

p {
    margin: 0
}
