body {
    background-image: url(//raw.githubusercontent.com/marvindanig/fisheye-placebo-varsity/master/assets/images/8.jpg);
}

.container {
  margin: 0 auto;
  position: absolute;
  bottom: 12.5vh;
  left: calc(50% - 25vw);
  width: 50vw;
  height: 20vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bar {
  width: 2vw;
  min-height: 1vw;
  margin-right: 1px;
  box-shadow: 0 1vw 1.5vw #000;
}

.bar:nth-child(0) {
  background-color: #f90606;
  -webkit-animation: grow0 1947ms alternate infinite;
          animation: grow0 1947ms alternate infinite;
}

@-webkit-keyframes grow0 {
  0% {
    height: 6vw;
  }
  10% {
    height: 2vw;
  }
  20% {
    height: 1vw;
  }
  30% {
    height: 8vw;
  }
  40% {
    height: 10vw;
  }
  50% {
    height: 2vw;
  }
  60% {
    height: 4vw;
  }
  70% {
    height: 8vw;
  }
  80% {
    height: 7vw;
  }
  90% {
    height: 4vw;
  }
  100% {
    height: 10vw;
  }
}

@keyframes grow0 {
  0% {
    height: 6vw;
  }
  10% {
    height: 2vw;
  }
  20% {
    height: 1vw;
  }
  30% {
    height: 8vw;
  }
  40% {
    height: 10vw;
  }
  50% {
    height: 2vw;
  }
  60% {
    height: 4vw;
  }
  70% {
    height: 8vw;
  }
  80% {
    height: 7vw;
  }
  90% {
    height: 4vw;
  }
  100% {
    height: 10vw;
  }
}
.bar:nth-child(1) {
  background-color: #f20d0d;
  -webkit-animation: grow1 2130ms alternate infinite;
          animation: grow1 2130ms alternate infinite;
}

@-webkit-keyframes grow1 {
  0% {
    height: 6vw;
  }
  10% {
    height: 1vw;
  }
  20% {
    height: 2vw;
  }
  30% {
    height: 7vw;
  }
  40% {
    height: 2vw;
  }
  50% {
    height: 10vw;
  }
  60% {
    height: 8vw;
  }
  70% {
    height: 3vw;
  }
  80% {
    height: 10vw;
  }
  90% {
    height: 4vw;
  }
  100% {
    height: 6vw;
  }
}

@keyframes grow1 {
  0% {
    height: 6vw;
  }
  10% {
    height: 1vw;
  }
  20% {
    height: 2vw;
  }
  30% {
    height: 7vw;
  }
  40% {
    height: 2vw;
  }
  50% {
    height: 10vw;
  }
  60% {
    height: 8vw;
  }
  70% {
    height: 3vw;
  }
  80% {
    height: 10vw;
  }
  90% {
    height: 4vw;
  }
  100% {
    height: 6vw;
  }
}
.bar:nth-child(2) {
  background-color: #ec1313;
  -webkit-animation: grow2 2051ms alternate infinite;
          animation: grow2 2051ms alternate infinite;
}

@-webkit-keyframes grow2 {
  0% {
    height: 10vw;
  }
  10% {
    height: 1vw;
  }
  20% {
    height: 5vw;
  }
  30% {
    height: 2vw;
  }
  40% {
    height: 9vw;
  }
  50% {
    height: 4vw;
  }
  60% {
    height: 9vw;
  }
  70% {
    height: 10vw;
  }
  80% {
    height: 7vw;
  }
  90% {
    height: 8vw;
  }
  100% {
    height: 9vw;
  }
}

@keyframes grow2 {
  0% {
    height: 10vw;
  }
  10% {
    height: 1vw;
  }
  20% {
    height: 5vw;
  }
  30% {
    height: 2vw;
  }
  40% {
    height: 9vw;
  }
  50% {
    height: 4vw;
  }
  60% {
    height: 9vw;
  }
  70% {
    height: 10vw;
  }
  80% {
    height: 7vw;
  }
  90% {
    height: 8vw;
  }
  100% {
    height: 9vw;
  }
}
.bar:nth-child(3) {
  background-color: #e61a1a;
  -webkit-animation: grow3 1890ms alternate infinite;
          animation: grow3 1890ms alternate infinite;
}

@-webkit-keyframes grow3 {
  0% {
    height: 6vw;
  }
  10% {
    height: 4vw;
  }
  20% {
    height: 1vw;
  }
  30% {
    height: 3vw;
  }
  40% {
    height: 6vw;
  }
  50% {
    height: 4vw;
  }
  60% {
    height: 6vw;
  }
  70% {
    height: 3vw;
  }
  80% {
    height: 6vw;
  }
  90% {
    height: 9vw;
  }
  100% {
    height: 4vw;
  }
}

@keyframes grow3 {
  0% {
    height: 6vw;
  }
  10% {
    height: 4vw;
  }
  20% {
    height: 1vw;
  }
  30% {
    height: 3vw;
  }
  40% {
    height: 6vw;
  }
  50% {
    height: 4vw;
  }
  60% {
    height: 6vw;
  }
  70% {
    height: 3vw;
  }
  80% {
    height: 6vw;
  }
  90% {
    height: 9vw;
  }
  100% {
    height: 4vw;
  }
}
.bar:nth-child(4) {
  background-color: #df2020;
  -webkit-animation: grow4 2136ms alternate infinite;
          animation: grow4 2136ms alternate infinite;
}

@-webkit-keyframes grow4 {
  0% {
    height: 10vw;
  }
  10% {
    height: 1vw;
  }
  20% {
    height: 7vw;
  }
  30% {
    height: 1vw;
  }
  40% {
    height: 3vw;
  }
  50% {
    height: 8vw;
  }
  60% {
    height: 4vw;
  }
  70% {
    height: 9vw;
  }
  80% {
    height: 10vw;
  }
  90% {
    height: 7vw;
  }
  100% {
    height: 10vw;
  }
}

@keyframes grow4 {
  0% {
    height: 10vw;
  }
  10% {
    height: 1vw;
  }
  20% {
    height: 7vw;
  }
  30% {
    height: 1vw;
  }
  40% {
    height: 3vw;
  }
  50% {
    height: 8vw;
  }
  60% {
    height: 4vw;
  }
  70% {
    height: 9vw;
  }
  80% {
    height: 10vw;
  }
  90% {
    height: 7vw;
  }
  100% {
    height: 10vw;
  }
}
.bar:nth-child(5) {
  background-color: #d92626;
  -webkit-animation: grow5 1965ms alternate infinite;
          animation: grow5 1965ms alternate infinite;
}

@-webkit-keyframes grow5 {
  0% {
    height: 6vw;
  }
  10% {
    height: 2vw;
  }
  20% {
    height: 2vw;
  }
  30% {
    height: 10vw;
  }
  40% {
    height: 6vw;
  }
  50% {
    height: 4vw;
  }
  60% {
    height: 3vw;
  }
  70% {
    height: 4vw;
  }
  80% {
    height: 7vw;
  }
  90% {
    height: 4vw;
  }
  100% {
    height: 5vw;
  }
}

@keyframes grow5 {
  0% {
    height: 6vw;
  }
  10% {
    height: 2vw;
  }
  20% {
    height: 2vw;
  }
  30% {
    height: 10vw;
  }
  40% {
    height: 6vw;
  }
  50% {
    height: 4vw;
  }
  60% {
    height: 3vw;
  }
  70% {
    height: 4vw;
  }
  80% {
    height: 7vw;
  }
  90% {
    height: 4vw;
  }
  100% {
    height: 5vw;
  }
}
.bar:nth-child(6) {
  background-color: #d22d2d;
  -webkit-animation: grow6 1876ms alternate infinite;
          animation: grow6 1876ms alternate infinite;
}

@-webkit-keyframes grow6 {
  0% {
    height: 8vw;
  }
  10% {
    height: 3vw;
  }
  20% {
    height: 6vw;
  }
  30% {
    height: 9vw;
  }
  40% {
    height: 2vw;
  }
  50% {
    height: 5vw;
  }
  60% {
    height: 2vw;
  }
  70% {
    height: 1vw;
  }
  80% {
    height: 5vw;
  }
  90% {
    height: 1vw;
  }
  100% {
    height: 8vw;
  }
}

@keyframes grow6 {
  0% {
    height: 8vw;
  }
  10% {
    height: 3vw;
  }
  20% {
    height: 6vw;
  }
  30% {
    height: 9vw;
  }
  40% {
    height: 2vw;
  }
  50% {
    height: 5vw;
  }
  60% {
    height: 2vw;
  }
  70% {
    height: 1vw;
  }
  80% {
    height: 5vw;
  }
  90% {
    height: 1vw;
  }
  100% {
    height: 8vw;
  }
}
.bar:nth-child(7) {
  background-color: #cc3333;
  -webkit-animation: grow7 1986ms alternate infinite;
          animation: grow7 1986ms alternate infinite;
}

@-webkit-keyframes grow7 {
  0% {
    height: 6vw;
  }
  10% {
    height: 9vw;
  }
  20% {
    height: 6vw;
  }
  30% {
    height: 9vw;
  }
  40% {
    height: 4vw;
  }
  50% {
    height: 4vw;
  }
  60% {
    height: 5vw;
  }
  70% {
    height: 10vw;
  }
  80% {
    height: 9vw;
  }
  90% {
    height: 2vw;
  }
  100% {
    height: 10vw;
  }
}

@keyframes grow7 {
  0% {
    height: 6vw;
  }
  10% {
    height: 9vw;
  }
  20% {
    height: 6vw;
  }
  30% {
    height: 9vw;
  }
  40% {
    height: 4vw;
  }
  50% {
    height: 4vw;
  }
  60% {
    height: 5vw;
  }
  70% {
    height: 10vw;
  }
  80% {
    height: 9vw;
  }
  90% {
    height: 2vw;
  }
  100% {
    height: 10vw;
  }
}
.bar:nth-child(8) {
  background-color: #c63939;
  -webkit-animation: grow8 1853ms alternate infinite;
          animation: grow8 1853ms alternate infinite;
}

@-webkit-keyframes grow8 {
  0% {
    height: 8vw;
  }
  10% {
    height: 6vw;
  }
  20% {
    height: 10vw;
  }
  30% {
    height: 4vw;
  }
  40% {
    height: 4vw;
  }
  50% {
    height: 1vw;
  }
  60% {
    height: 3vw;
  }
  70% {
    height: 2vw;
  }
  80% {
    height: 9vw;
  }
  90% {
    height: 3vw;
  }
  100% {
    height: 9vw;
  }
}

@keyframes grow8 {
  0% {
    height: 8vw;
  }
  10% {
    height: 6vw;
  }
  20% {
    height: 10vw;
  }
  30% {
    height: 4vw;
  }
  40% {
    height: 4vw;
  }
  50% {
    height: 1vw;
  }
  60% {
    height: 3vw;
  }
  70% {
    height: 2vw;
  }
  80% {
    height: 9vw;
  }
  90% {
    height: 3vw;
  }
  100% {
    height: 9vw;
  }
}
.bar:nth-child(9) {
  background-color: #bf4040;
  -webkit-animation: grow9 1802ms alternate infinite;
          animation: grow9 1802ms alternate infinite;
}

@-webkit-keyframes grow9 {
  0% {
    height: 2vw;
  }
  10% {
    height: 8vw;
  }
  20% {
    height: 9vw;
  }
  30% {
    height: 3vw;
  }
  40% {
    height: 10vw;
  }
  50% {
    height: 6vw;
  }
  60% {
    height: 8vw;
  }
  70% {
    height: 10vw;
  }
  80% {
    height: 9vw;
  }
  90% {
    height: 10vw;
  }
  100% {
    height: 9vw;
  }
}

@keyframes grow9 {
  0% {
    height: 2vw;
  }
  10% {
    height: 8vw;
  }
  20% {
    height: 9vw;
  }
  30% {
    height: 3vw;
  }
  40% {
    height: 10vw;
  }
  50% {
    height: 6vw;
  }
  60% {
    height: 8vw;
  }
  70% {
    height: 10vw;
  }
  80% {
    height: 9vw;
  }
  90% {
    height: 10vw;
  }
  100% {
    height: 9vw;
  }
}
.bar:nth-child(10) {
  background-color: #b94646;
  -webkit-animation: grow10 1887ms alternate infinite;
          animation: grow10 1887ms alternate infinite;
}

@-webkit-keyframes grow10 {
  0% {
    height: 4vw;
  }
  10% {
    height: 8vw;
  }
  20% {
    height: 8vw;
  }
  30% {
    height: 5vw;
  }
  40% {
    height: 3vw;
  }
  50% {
    height: 4vw;
  }
  60% {
    height: 8vw;
  }
  70% {
    height: 7vw;
  }
  80% {
    height: 10vw;
  }
  90% {
    height: 9vw;
  }
  100% {
    height: 8vw;
  }
}

@keyframes grow10 {
  0% {
    height: 4vw;
  }
  10% {
    height: 8vw;
  }
  20% {
    height: 8vw;
  }
  30% {
    height: 5vw;
  }
  40% {
    height: 3vw;
  }
  50% {
    height: 4vw;
  }
  60% {
    height: 8vw;
  }
  70% {
    height: 7vw;
  }
  80% {
    height: 10vw;
  }
  90% {
    height: 9vw;
  }
  100% {
    height: 8vw;
  }
}
.bar:nth-child(11) {
  background-color: #b34d4d;
  -webkit-animation: grow11 2152ms alternate infinite;
          animation: grow11 2152ms alternate infinite;
}

@-webkit-keyframes grow11 {
  0% {
    height: 10vw;
  }
  10% {
    height: 2vw;
  }
  20% {
    height: 4vw;
  }
  30% {
    height: 3vw;
  }
  40% {
    height: 3vw;
  }
  50% {
    height: 3vw;
  }
  60% {
    height: 3vw;
  }
  70% {
    height: 6vw;
  }
  80% {
    height: 5vw;
  }
  90% {
    height: 3vw;
  }
  100% {
    height: 6vw;
  }
}

@keyframes grow11 {
  0% {
    height: 10vw;
  }
  10% {
    height: 2vw;
  }
  20% {
    height: 4vw;
  }
  30% {
    height: 3vw;
  }
  40% {
    height: 3vw;
  }
  50% {
    height: 3vw;
  }
  60% {
    height: 3vw;
  }
  70% {
    height: 6vw;
  }
  80% {
    height: 5vw;
  }
  90% {
    height: 3vw;
  }
  100% {
    height: 6vw;
  }
}
.bar:nth-child(12) {
  background-color: #ac5353;
  -webkit-animation: grow12 1711ms alternate infinite;
          animation: grow12 1711ms alternate infinite;
}

@-webkit-keyframes grow12 {
  0% {
    height: 8vw;
  }
  10% {
    height: 7vw;
  }
  20% {
    height: 1vw;
  }
  30% {
    height: 10vw;
  }
  40% {
    height: 5vw;
  }
  50% {
    height: 7vw;
  }
  60% {
    height: 3vw;
  }
  70% {
    height: 10vw;
  }
  80% {
    height: 6vw;
  }
  90% {
    height: 6vw;
  }
  100% {
    height: 7vw;
  }
}

@keyframes grow12 {
  0% {
    height: 8vw;
  }
  10% {
    height: 7vw;
  }
  20% {
    height: 1vw;
  }
  30% {
    height: 10vw;
  }
  40% {
    height: 5vw;
  }
  50% {
    height: 7vw;
  }
  60% {
    height: 3vw;
  }
  70% {
    height: 10vw;
  }
  80% {
    height: 6vw;
  }
  90% {
    height: 6vw;
  }
  100% {
    height: 7vw;
  }
}
.bar:nth-child(13) {
  background-color: #a65959;
  -webkit-animation: grow13 1626ms alternate infinite;
          animation: grow13 1626ms alternate infinite;
}

@-webkit-keyframes grow13 {
  0% {
    height: 2vw;
  }
  10% {
    height: 5vw;
  }
  20% {
    height: 3vw;
  }
  30% {
    height: 8vw;
  }
  40% {
    height: 9vw;
  }
  50% {
    height: 10vw;
  }
  60% {
    height: 4vw;
  }
  70% {
    height: 1vw;
  }
  80% {
    height: 5vw;
  }
  90% {
    height: 9vw;
  }
  100% {
    height: 8vw;
  }
}

@keyframes grow13 {
  0% {
    height: 2vw;
  }
  10% {
    height: 5vw;
  }
  20% {
    height: 3vw;
  }
  30% {
    height: 8vw;
  }
  40% {
    height: 9vw;
  }
  50% {
    height: 10vw;
  }
  60% {
    height: 4vw;
  }
  70% {
    height: 1vw;
  }
  80% {
    height: 5vw;
  }
  90% {
    height: 9vw;
  }
  100% {
    height: 8vw;
  }
}
.bar:nth-child(14) {
  background-color: #9f6060;
  -webkit-animation: grow14 1789ms alternate infinite;
          animation: grow14 1789ms alternate infinite;
}

@-webkit-keyframes grow14 {
  0% {
    height: 6vw;
  }
  10% {
    height: 6vw;
  }
  20% {
    height: 7vw;
  }
  30% {
    height: 2vw;
  }
  40% {
    height: 5vw;
  }
  50% {
    height: 9vw;
  }
  60% {
    height: 10vw;
  }
  70% {
    height: 3vw;
  }
  80% {
    height: 1vw;
  }
  90% {
    height: 1vw;
  }
  100% {
    height: 3vw;
  }
}

@keyframes grow14 {
  0% {
    height: 6vw;
  }
  10% {
    height: 6vw;
  }
  20% {
    height: 7vw;
  }
  30% {
    height: 2vw;
  }
  40% {
    height: 5vw;
  }
  50% {
    height: 9vw;
  }
  60% {
    height: 10vw;
  }
  70% {
    height: 3vw;
  }
  80% {
    height: 1vw;
  }
  90% {
    height: 1vw;
  }
  100% {
    height: 3vw;
  }
}
.bar:nth-child(15) {
  background-color: #996666;
  -webkit-animation: grow15 1963ms alternate infinite;
          animation: grow15 1963ms alternate infinite;
}

@-webkit-keyframes grow15 {
  0% {
    height: 3vw;
  }
  10% {
    height: 6vw;
  }
  20% {
    height: 9vw;
  }
  30% {
    height: 7vw;
  }
  40% {
    height: 5vw;
  }
  50% {
    height: 3vw;
  }
  60% {
    height: 2vw;
  }
  70% {
    height: 8vw;
  }
  80% {
    height: 6vw;
  }
  90% {
    height: 7vw;
  }
  100% {
    height: 9vw;
  }
}

@keyframes grow15 {
  0% {
    height: 3vw;
  }
  10% {
    height: 6vw;
  }
  20% {
    height: 9vw;
  }
  30% {
    height: 7vw;
  }
  40% {
    height: 5vw;
  }
  50% {
    height: 3vw;
  }
  60% {
    height: 2vw;
  }
  70% {
    height: 8vw;
  }
  80% {
    height: 6vw;
  }
  90% {
    height: 7vw;
  }
  100% {
    height: 9vw;
  }
}
.bar:nth-child(16) {
  background-color: #936c6c;
  -webkit-animation: grow16 1673ms alternate infinite;
          animation: grow16 1673ms alternate infinite;
}

@-webkit-keyframes grow16 {
  0% {
    height: 6vw;
  }
  10% {
    height: 9vw;
  }
  20% {
    height: 2vw;
  }
  30% {
    height: 9vw;
  }
  40% {
    height: 5vw;
  }
  50% {
    height: 8vw;
  }
  60% {
    height: 4vw;
  }
  70% {
    height: 8vw;
  }
  80% {
    height: 9vw;
  }
  90% {
    height: 3vw;
  }
  100% {
    height: 9vw;
  }
}

@keyframes grow16 {
  0% {
    height: 6vw;
  }
  10% {
    height: 9vw;
  }
  20% {
    height: 2vw;
  }
  30% {
    height: 9vw;
  }
  40% {
    height: 5vw;
  }
  50% {
    height: 8vw;
  }
  60% {
    height: 4vw;
  }
  70% {
    height: 8vw;
  }
  80% {
    height: 9vw;
  }
  90% {
    height: 3vw;
  }
  100% {
    height: 9vw;
  }
}
.bar:nth-child(17) {
  background-color: #8c7373;
  -webkit-animation: grow17 1558ms alternate infinite;
          animation: grow17 1558ms alternate infinite;
}

@-webkit-keyframes grow17 {
  0% {
    height: 2vw;
  }
  10% {
    height: 5vw;
  }
  20% {
    height: 8vw;
  }
  30% {
    height: 6vw;
  }
  40% {
    height: 5vw;
  }
  50% {
    height: 2vw;
  }
  60% {
    height: 6vw;
  }
  70% {
    height: 8vw;
  }
  80% {
    height: 9vw;
  }
  90% {
    height: 9vw;
  }
  100% {
    height: 7vw;
  }
}

@keyframes grow17 {
  0% {
    height: 2vw;
  }
  10% {
    height: 5vw;
  }
  20% {
    height: 8vw;
  }
  30% {
    height: 6vw;
  }
  40% {
    height: 5vw;
  }
  50% {
    height: 2vw;
  }
  60% {
    height: 6vw;
  }
  70% {
    height: 8vw;
  }
  80% {
    height: 9vw;
  }
  90% {
    height: 9vw;
  }
  100% {
    height: 7vw;
  }
}
.bar:nth-child(18) {
  background-color: #867979;
  -webkit-animation: grow18 1686ms alternate infinite;
          animation: grow18 1686ms alternate infinite;
}

@-webkit-keyframes grow18 {
  0% {
    height: 7vw;
  }
  10% {
    height: 9vw;
  }
  20% {
    height: 6vw;
  }
  30% {
    height: 9vw;
  }
  40% {
    height: 2vw;
  }
  50% {
    height: 9vw;
  }
  60% {
    height: 7vw;
  }
  70% {
    height: 9vw;
  }
  80% {
    height: 4vw;
  }
  90% {
    height: 3vw;
  }
  100% {
    height: 4vw;
  }
}

@keyframes grow18 {
  0% {
    height: 7vw;
  }
  10% {
    height: 9vw;
  }
  20% {
    height: 6vw;
  }
  30% {
    height: 9vw;
  }
  40% {
    height: 2vw;
  }
  50% {
    height: 9vw;
  }
  60% {
    height: 7vw;
  }
  70% {
    height: 9vw;
  }
  80% {
    height: 4vw;
  }
  90% {
    height: 3vw;
  }
  100% {
    height: 4vw;
  }
}
.bar:nth-child(19) {
  background-color: gray;
  -webkit-animation: grow19 2179ms alternate infinite;
          animation: grow19 2179ms alternate infinite;
}

@-webkit-keyframes grow19 {
  0% {
    height: 5vw;
  }
  10% {
    height: 9vw;
  }
  20% {
    height: 5vw;
  }
  30% {
    height: 2vw;
  }
  40% {
    height: 6vw;
  }
  50% {
    height: 5vw;
  }
  60% {
    height: 10vw;
  }
  70% {
    height: 6vw;
  }
  80% {
    height: 3vw;
  }
  90% {
    height: 3vw;
  }
  100% {
    height: 7vw;
  }
}

@keyframes grow19 {
  0% {
    height: 5vw;
  }
  10% {
    height: 9vw;
  }
  20% {
    height: 5vw;
  }
  30% {
    height: 2vw;
  }
  40% {
    height: 6vw;
  }
  50% {
    height: 5vw;
  }
  60% {
    height: 10vw;
  }
  70% {
    height: 6vw;
  }
  80% {
    height: 3vw;
  }
  90% {
    height: 3vw;
  }
  100% {
    height: 7vw;
  }
}
.bar:nth-child(20) {
  background-color: gray;
  -webkit-animation: grow20 1653ms alternate infinite;
          animation: grow20 1653ms alternate infinite;
}

@-webkit-keyframes grow20 {
  0% {
    height: 3vw;
  }
  10% {
    height: 5vw;
  }
  20% {
    height: 5vw;
  }
  30% {
    height: 7vw;
  }
  40% {
    height: 8vw;
  }
  50% {
    height: 10vw;
  }
  60% {
    height: 10vw;
  }
  70% {
    height: 9vw;
  }
  80% {
    height: 4vw;
  }
  90% {
    height: 5vw;
  }
  100% {
    height: 7vw;
  }
}

@keyframes grow20 {
  0% {
    height: 3vw;
  }
  10% {
    height: 5vw;
  }
  20% {
    height: 5vw;
  }
  30% {
    height: 7vw;
  }
  40% {
    height: 8vw;
  }
  50% {
    height: 10vw;
  }
  60% {
    height: 10vw;
  }
  70% {
    height: 9vw;
  }
  80% {
    height: 4vw;
  }
  90% {
    height: 5vw;
  }
  100% {
    height: 7vw;
  }
}
